/* .button {
  width: 50%;
  background-color: #0dd5b2;
  color: #ffffff;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.button_signup {
  width: 50%;
  background-color: #0dd5b2;
  color: #ffffff;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
} */
