.crx_mouse_visited {
  opacity: 1 !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.crx_mouse_visited:hover {
  opacity: 0.5 !important;
  outline: 5px solid #0dd5b2 !important;
}
